<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Crear</th>
      <th>Editar</th>
      <th>Leer</th>
      <th>Eliminar</th>
      <th>Total</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.crear %></td>
        <td><%= profile.editar %></td>
        <td><%= profile.leer %></td>
        <td><%= profile.eliminar %></td>
        <td><%= profile.total %></td>
        <td><%= profile.created_at %></td>
        <td><%= profile.updated_at %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
